.page_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding-top: 3em;
    background: linear-gradient(135deg, #303513, #10492a);
}

.links {
    margin-top: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.button,
.input {
    font-size: 1.3em;
    padding: 0.4rem;
    width: 36ch;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
    width: 100%;

}