.about_container {
    background: linear-gradient(135deg, #1d2b64 0%, #b38149d0 100%);
    color: white;
    min-height: 100vh;
    padding: 6em 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    /* Използвайте избрания от Вас шрифт */
}

.titles {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.section {
    max-width: 800px;
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    white-space: pre-line;
    letter-spacing: 1px;
}

.corection {
    padding: 0.6em;
    border-radius: 0.3em;
    margin-top: 2em;
    background-color: rgba(26, 86, 97, 0.952);
    color: azure;
}



.rejectButton {
    background-color: rgb(83, 15, 15);
    padding: 0.6em;
    border-radius: 0.3em;
    margin-top: 2em;
    color: aliceblue;
}

.mainSection{
    display: flex;
    gap: 2em;
}

.areaTitle{
    width: 100%;
    max-width: 800px;
    margin-top: 2em;
}

.deleteOldButton{
    background-color: red;
    margin-top: 3em;
    color: aliceblue;
    padding: 0.4em;
    border-radius: 0.3em;
}