.loginForm>button {
  background-color: green;
  color: azure;
  padding: 1em;
  width: 100%;
  max-width: 200px;
}

.login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    background: linear-gradient(135deg, #351036, #231863);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
    width: 100%;
}


.footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}