form>button,
form input {
    font-size: 1.3em;
    padding: 0.4rem;
    width: 36ch;
    max-width: 100%;
}

.login-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 1em auto;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
    width: 100%;
}


.p {
    color: rgb(250, 52, 52);
}

.checkbox_div {
    display: flex;
    gap: 1em;
}

input[type="checkbox"] {
    width: 1.2em;
}

.shown_pass {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.message {
    color: rgb(218, 55, 55);
    margin-bottom: 2em;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}