.createTopicForm {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin: 1em auto;
    width: 99%;
    max-width: 450px;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 0.5em;
}

.createTopicForm>button {
    background-color: rgb(182, 167, 30);
    color: rgb(7, 7, 7);
    padding: 0.4em;
    max-width: 10em;
    margin: auto;
}

.visible {
    display: none;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 1.5em;
}

.title {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    color: #333;
}

.card {
    background: #fff;
    padding: .8em;
    border-radius: 14px;
    margin-bottom: .5em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-size: 0.8rem;
    color: #666;
}

.deleteBtn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #d9534f;
}

.deleteBtn:hover {
    color: #b52b27;
}

.topicTitle {
    margin: 0.1em;
    font-size: 1.2rem;
    color: #222;
}

.content {
    color: #444;
}

.actions {
    margin-bottom: .5em;
}

.likeBtn {
    background: transparent;
    border: none;
    font-size: 0.7em;
    cursor: pointer;
}

.likeBtn:hover {
    background: #e6e6e6;
}

.comments_title {
    color: #696868;
    text-align: center;
}

.singleComment {
    color: #242020;
    margin: 0.4em;
    font-family:Arial, Helvetica, sans-serif;
}

.comments_form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
    border: 1px solid gray;
    padding: 0.3em;
    border-radius: 0.3em;
}

.comments_form>button{
    width: 50%;
    max-width: 80px;
    margin: auto;
    background-color: #d7e4dc;
    font-size: 0.7em;
}

.comments_form>input{
    border:1px solid rgb(201, 195, 195);
   padding: .3em;
}