.createTopicForm {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin: 1em auto;
    width: 99%;
    max-width: 450px;
    border: 1px solid gray;
    padding: 1em;
    border-radius: 0.5em;
}

.createTopicForm>button {
    background-color: rgb(182, 167, 30);
    color: rgb(7, 7, 7);
    padding: 0.4em;
    max-width: 10em;
    margin: auto;
    border-radius: 0.3em;
    border: none;
}

.visible {
    display: none;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 1.5em;
}

.title {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    color: #333;
}

.card {
    background: #fff;
    padding: .8em;
    border-radius: 14px;
    margin-bottom: .5em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-size: 0.8rem;
    color: #666;
}

.deleteBtn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #cc0700;
}

.deleteBtn:hover {
    color: #b52b27;
}

.topicTitle {
    margin: 0.2em;
    font-size: 1.2rem;
    color: #000000;
}

.content {
    color: #000a44;
    text-align: center;
}

.actions {
    margin-bottom: .5em;
}

.likeBtn {
    background: transparent;
    border: none;
    font-size: 0.7em;
    cursor: pointer;
}

.likeBtn:hover {
    background: #e6e6e6;
}



.comments_form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
    border: 1px solid gray;
    padding: 0.3em;
    border-radius: 0.3em;
}

.comments_form>button{
    width: 50%;
    max-width: 80px;
    margin: auto;
    background-color: #c2cac5;
    font-size: 0.7em;
    border: none;
    padding: 0.4em;
}

.comments_form>input{
    border:1px solid rgb(201, 195, 195);
   padding: .3em;
}

/* Контейнер около Collapse */
.commentWrapper {
    margin-top: 1rem;
    max-width: 650px;
    width: 100%;
}

/* Стилизиране на заглавието на панела (където пише "Виж всички...") */


.panelHeaderTitle {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

/* Стил за вътрешния контейнер на коментарите */
.commentsListContainer {
    padding: 0.5rem 1ем;
}

/* Стил за всеки отделен коментар */
.singleComment {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #b4afaf;
}

.singleComment:last-child {
    border-bottom: none;
}

.commentHeader {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}

.commentAvatar {
    font-weight: bold;
    color: #333;
    /* Тъмен цвят за името/ап. номер */
    background: #e9f0ff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.85rem;
    margin-right: 0.5rem;
}

.commentText {
    margin: 0;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}