.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;


    background-image: url("../../src/assets/logog.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    pointer-events: none;
}


.home_card {
    background: rgba(255, 255, 255, 0.904);
    border-radius: 1em;
    padding: 2em 3em;
    box-shadow: 0 6px 20px rgba(24, 20, 20, 0.3);
    text-align: center;
}

.home_title {
    font-size: 2rem;
    color: #2a2a2a;
    margin-bottom: 10px;
}

.home_subtitle {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 30px;
    letter-spacing: 0.2em;
}

.home_button,
.reg_button,
.abouth_button {
    color: rgb(236, 234, 234);
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.home_button {
    background-color: #189907;
}

.reg_button {
    background-color: rgb(15, 46, 104);
}

.abouth_button{
    background-color: rgb(88, 20, 79);
}

.abouth_button:hover{
    background-color: rgb(124, 24, 111);
}

.buttons {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
}


.home_button:hover {
    background-color: #27801b;
}

.home_footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #a8f7e6;
    position: fixed;
    bottom: 2em;
}

a {
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1px;
    border: 1px solid gray;
    padding: 0.3em ;
    border-radius: 0.3em;
    align-self: center;
}