.container {
    background: linear-gradient(135deg, #24100e, #272e0fc2);
    min-height: 100vh;

}

.slider {

    background-color: aqua;
    color: brown;
    transform: translateX(-100%);
    transition: 0.5s;
    margin-top: 3em;
    opacity: -1;
}

.slider1 {
    background-color: aqua;
    color: brown;
    transition: 0.5s;
    margin-top: 3em;
}