.container {
    background: linear-gradient(135deg, #24100e, #272e0fc2);
    min-height: 100vh;
}

.slider {

    background-color: aqua;
    color: brown;
    transform: translateX(-100%);
    transition: 0.5s;
    margin-top: 3em;
    opacity: -1;
}

.slider1 {
    background-color: aqua;
    color: brown;
    transition: 0.5s;
    margin-top: 3em;
}

.list_section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_section>ul{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    list-style:none;
}

.list_section ul>li{
    letter-spacing: 0.2em;
    cursor: pointer;
    border: 1px solid rgb(65, 66, 63);
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: inset .4px .4px 3px 0.4px grey;
    background-color: rgba(222, 184, 135, 0.181);
}