.container {
    background: linear-gradient(135deg, #24100e, #272e0fc2);
    min-height: 100vh;
}

.slider {

    background-color: aqua;
    color: brown;
    transform: translateX(-100%);
    transition: 0.5s;
    margin-top: 3em;
    opacity: -1;
}

.slider1 {
    background-color: aqua;
    color: brown;
    transition: 0.5s;
    margin-top: 3em;
}

.list_section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_section>ul{
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.list_section ul>li{
    letter-spacing: 0.2em;
    cursor: pointer;
    
}