.container {
    background: linear-gradient(135deg, #0c240c, #140942c2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 1em auto;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.3em;
    text-align: center;
}

th {
    color: rgb(123, 255, 0);
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

td {
    height: 12vh;
}


.change_menager_but {
    background-color: rgb(49, 88, 216);
    color: aliceblue;
    padding: 0.6em;
    border-radius: 0.5em;
    border: none;
}

.save_change_menager_but {
    background-color: rgb(2, 126, 2);
    color: aliceblue;
    padding: 0.6em;
    border-radius: 0.5em;
    border: none;
}

.reject_but {
    background-color: rgb(126, 2, 2);
    color: aliceblue;
    padding: 0.6em;
    border-radius: 0.5em;
    border: none;
    margin-left: 2em;
}

.taxInfo {
    margin-top: 2em;
    border: 1px solid lightcoral;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}


footer{
    text-align: center;
    margin: 3em;
}

footer h3{
    color: rgb(255, 0, 0);
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.buttons{
    margin-top: 1em;
}
