.page {
    min-height: 100vh;
    background: linear-gradient(135deg, #9ebbe7, #eaccf0);
    padding-bottom: 2.5rem; /* 40px */
    padding-top: 4em;
}

.main_container {
    padding: 1.25rem; /* 20px */
    max-width: 56.25rem; /* 900px */
    margin: auto;
}

.title {
    text-align: center;
    margin: 0.625rem 0 1.25rem 0; /* 10px, 20px */
    font-size: 1.5rem; /* 24px */
    color: #003f7d;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr)); /* 250px */
    gap: 1rem;
}

.card {
    background: white;
    color: #1e242b;
    border-radius: 0.75rem; /* 12px */
    padding: 1rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1); /* 4px 10px */
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.375rem 1rem rgba(0,0,0,0.15);
}

.free {
    background: #ffecec;
    border-left: 0.3125rem solid #ff6b6b; /* 5px */
    color: #6d1818;
}

.numberBox {
    font-size: 1.375rem; /* 22px */
    font-weight: bold;
    color: #04325e;
    margin-bottom: 0.625rem; /* 10px */
}

.info p {
    margin: 0.25rem 0; /* 4px */
    font-size: 0.9375rem; /* 15px */
    letter-spacing: 1px;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    
}

.editBtn, .saveBtn, .cancelBtn {
    padding: 0.5rem 0.625rem; /* 8px 10px */
    border: none;
    border-radius: 0.5rem; /* 8px */
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.editBtn {
    background: #0065d9;
    color: white;
}

.editBtn:hover {
    background: #004fa8;
}

.saveBtn {
    background: #1e9e45;
    color: white;
}

.saveBtn:hover {
    background: #177c36;
}

.cancelBtn {
    background: #f12727;
   color: rgb(246, 246, 247);
}

.cancelBtn:hover {
    background: #420505;
    color:blanchedalmond;
}

@media (max-width: 31.25rem) { /* 500px */
    .card {
        padding: 0.75rem;
    }
    .numberBox {
        font-size: 1.25rem;
    }
}
