.container{
 
}
.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_apartments {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 100%;
    max-width: 760px;
    font-size: smaller;
}

tHead{
   background-color: black;
   
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.free_apartment{
    background-color: rgb(78, 76, 76);
    color: #b6adad;
}
button{
    margin: 0.4em;
}