.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: linear-gradient(135deg, #1c1f2e, #764ba2);
}

.submitBtn {
    background-color: blue;
    color: aliceblue;
    padding: 1em;
    width: 100%;
    max-width: 220px;
}