@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 28, 28);
  color: rgb(223, 225, 226);
}

html {
  font-size: clamp(12px, 2.4vw, 18px);
  font-family:Bitter;
  line-height: 1.5;
}

button,
a {
  cursor: pointer;
}